# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage

# Next.js
.next/
out/

# Production
build
dist

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development
.env.test
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.sublime-*

# Prisma
prisma/*.db
prisma/*.db-journal

# Database
*.sqlite
*.sqlite3

# Logs
logs
*.log

# Cache
.cache
.eslintcache
.stylelintcache
*.tsbuildinfo

# Temporary files
tmp
temp
*.tmp
*.temp

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Optional: Storybook build outputs
storybook-static

# Optional: PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Optional: Sentry
.sentryclirc

# Docker
.dockerignore
docker-compose.override.yml

# Terraform (if used)
.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
